<!DOCTYPE html>
<html>
  <head>
    <title>INTERNAL | DAC Sports Network</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "internal", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <header class="d-flex flex-wrap justify-content-center align-items-center py-3 mb-4 border-bottom">
        <%= link_to internal_root_path, class: 'd-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none title-link' do %>
          <%= image_tag 'logo.png', alt: 'Dallas Athletic Conference Logo', class: 'logo' %>
          <span class="fs-1 ms-2">DAC Sports Network</span>
        <% end %>

        <ul class="nav nav-pills">
          <li class="nav-item"><%= link_to "Dashboard", internal_root_path, class: "nav-link #{'active' if controller_name == 'home'}" %></li>
          <li class="nav-item"><%= link_to "Events", internal_events_path, class: "nav-link #{'active' if controller_name == 'events'}" %></li>
          <li class="nav-item"><%= link_to "Uploads", internal_uploads_path, class: "nav-link #{'active' if controller_name == 'uploads'}" %></li>
          <li class="nav-item"><%= link_to "Jobs", '/internal/sidekiq', class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Web Analytics", 'https://app.usefathom.com/share/bpvxynyg/dac+sports+network', class: "nav-link", target: "_blank", rel: "noopener noreferrer" %></li>
          <li class="nav-item">
            <%= link_to root_path, class: "nav-link" do %>
              Back to Site <i class="bi bi-house-door ms-1"></i>
            <% end %>
          </li>
        </ul>
      </header>

      <% if flash[:notice] %>
        <div class="alert alert-success"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger"><%= flash[:alert] %></div>
      <% end %>

      <div id="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
